@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    N63 W23347 Main St.<br />
    Sussex, WI 53089<br />
    <abbr title="Phone">P:</abbr>
    414.588.7535
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chad.klebba@gmail.com">chad.klebba@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:chad.klebba@gmail.com">chad.klebba@gmail.com</a>
</address>